<html>
    <head>
        <title>
            Enter Email to receive invite
        </title>
        <style>
            body {
                background-color: #eee;
            }
            .input_email {
                height: 40px;
                font-size: 26px;
                border: 1px solid black;
            }
            button {
                height: 30px;
                font-size: 26px;
            }
        </style>
    </head>
    <body>
        <center>
            <h2>Twilio Bootcamp Signup!</h2>
            <p>Enter your <code>@twilio.com</code> email address below</p>
            <form action="/sendinvite/" method="POST">
                {% csrf_token %}
                <input class="input_email" type="email" placeholder="email" name="email">
                <br/>
                <br/>
                <button type="submit">Get an invite!</button>
            </form>
        </center>
    </body>
</html>
